export(imputeCoxSurv)
export(vcfCoxSurv)
export(gdsCoxSurv)
import(survival)
import(GenomicRanges)
import(VariantAnnotation)
import(magrittr)
import(dplyr)
import(tidyr)
import(GWASTools)
import(purrr)
importFrom(parallel, parApply)
importFrom(broom, tidy)
importFrom(data.table, fread)
importFrom(SummarizedExperiment, SummarizedExperiment)
importFrom(S4Vectors, DataFrame)